{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Happiness</title>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Custom CSS additions -->
        <link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <!-- Temp jQuery Materialize characterCounter, will go in external file -->
        <script>
        $(document).ready(function() {
          $('textarea#feedbackarea1').characterCounter();
        });
        </script>
        <!-- Temp jQuery Materialize tapTarget, will go in external file -->
        <script>
        $(document).ready(function(){
          $('.tap-target').tapTarget();
        });
        </script>
    </head>
<header><!-- Main Navigation -->
  <div class="row">
    <nav>
        <div class="nav-wrapper">
          <ul class="left">
            <li><a href="#"><i class="material-icons">dashboard</i></a></li>
            <li><a href="#"><i class="material-icons">history</i></a></li>
          </ul>
        </div>
      </nav>
  </div>
</header>

<body>
  <div class="appbody no-pad-bot" id="index-banner">
    <div class="container" style="width: 100%;height: 100%;max-width: 100%;margin: 0;">
    <!-- content -->
    {% block content %}
    {% endblock %}
    <!-- end of content -->
    </div>
</div> <!--  appbody no-pad-bot" id="index-banner" -->


</body>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/materialize/js/materialize.js"></script>
</html>
