{% extends 'rating/__base.html' %}

{% block content %}
<div class="flex-row ratingspage"><!-- Container for Nesting -->
  <div class="row"><!-- Ratings bar row -->
      <div class="happinessbar"> <!-- This is the Ratings bar with the icons -->
          <ul class="smileyRatingBarList">
            <li>
              <div class="iconBox bn-meter">
                <a href="index.html">
                  <img class="bn-hover-show" src="/static/img/assets-happinessbar/Icon_HeelSlecht_wit.png" title="Gaat slecht">
                  <img class="bn-hover-hidden" src="/static/img/assets-happinessbar/Icon_HeelSlecht.png" title="Gaat slecht">
                </a>
              </div>
            </li>
            <li>
              <div class="iconBox bn-meter">
                <a href="index.html">
                  <img class="bn-hover-show" src="/static/img/assets-happinessbar/Icon_MinderGoed_wit.png" title="Kan beter">
                  <img class="bn-hover-hidden" src="/static/img/assets-happinessbar/Icon_MinderGoed.png" title="Kan beter">
                </a>
              </div>
            </li>
            <li>
              <div class="iconBox bn-meter">
                <a href="index.html">
                  <img class="bn-hover-show" src="/static/img/assets-happinessbar/Icon_Neutraal_wit.png" title="Ok">
                  <img class="bn-hover-hidden" src="/static/img/assets-happinessbar/Icon_Neutraal.png" title="Ok">
                </a>
              </div>
            </li>
            <li>
              <div class="iconBox bn-meter">
                <a href="index.html">
                  <img class="bn-hover-show" src="/static/img/assets-happinessbar/Icon_GaatGoed_wit.png" title="Gaat goed">
                  <img class="bn-hover-hidden" src="/static/img/assets-happinessbar/Icon_GaatGoed.png" title="Gaat goed">
                </a>
              </div>
            </li>
            <li>
              <div class="iconBox bn-meter">
                <a href="index.html">
                  <img class="bn-hover-show" src="/static/img/assets-happinessbar/Icon_HeelGoed_wit.png" title="Fantastisch">
                  <img class="bn-hover-hidden" src="/static/img/assets-happinessbar/Icon_HeelGoed.png" title="Fantastisch">
                </a>
              </div>
            </li>
          </ul>
      </div>
    </div>


<div class="row"><!-- Rating textfield -->
    <form class="col 12">
      <div class="row ratingfeedback">
        <div class="input-field col s12">
          <textarea id="feedbackarea1" class="materialize-textarea" data-length="240" maxlength="240"></textarea>
          <label for="feedbackarea1">Care to give some feedback?</label>
        </div>
    </form>
    <button class="btn waves-effect waves-brown" type="submit" name="action">Submit Happiness
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
{% endblock %}
